
    /* Let's highlight canvas boundaries */
    #gjs {
      /* border: 3px solid #444; */
      border: 3px solid #78366a;
  }
  
  /* Reset some default styling */
  .gjs-cv-canvas {
      top: 0;
      width: 100%;
      height: 100%;
  }

/* .parent_builder{

} */
#blocks{
  width: 15%;
}
#stylesElements{
  width: 20%;
}
#gjs{
  width: 65%;
}
.gjs-pn-panel{
position: relative !important;
}

