{% extends 'base.html' %}


{%block links%}
{% comment %} 
# this comment section  add all links in this Block
{% endcomment %}

{%endblock links%}



{% block body %}
{% comment %} 
# this comment section  add body code in this body block
{% endcomment %}

<div  class="parent_builder">
    <div class="panel__top">
        <div class="panel__basic-actions"></div>
    </div>
    <div id="gjs">
        <h1>Hello World Component!</h1>
    </div>
    <div id="blocks"></div>
</div>
{% load static %}
<script src="{%static 'JavaScript/script.js'%} "></script>


{% endblock body %}